trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'

pool:
  vmImage: 'windows-2019'

variables:
  BuildConfiguration: 'Release'
  MajorVersion: 1
  MinorVersion: 2
  PatchVersion: 1

name: $(MajorVersion).$(MinorVersion).$(PatchVersion).$(Rev:r)

jobs:
- job: 'Build'
  steps:
  - checkout: self
    fetchDepth: 1
    clean: true

  - task: PowerShell@2
    displayName: 'Set build number'
    inputs:
      targetType: 'inline'
      script: |
        $branchName = "$(Build.SourceBranchName)";
        $buildVersion = "$(Build.BuildNumber)";
        $nugetPkgVersion = $buildVersion;
        if (-not([string]::IsNullOrWhiteSpace($branchName)) -and 
            ($branchName -ne "master") -and 
            -not($buildVersion -match $branchName)) {
              
            $nugetPkgVersion = "$nugetPkgVersion-$branchName";
            Write-Host "##vso[build.updateBuildNumber]$nugetPkgVersion";
        }
        Write-Host "Package version: $nugetPkgVersion";

  - task: SonarCloudPrepare@1
    displayName: 'Prepare for analysis'
    inputs:
      SonarCloud: 'SonarCloud'
      organization: 'headleysj'
      scannerMode: 'MSBuild'
      projectKey: 'Shared-WebApi-Core'
      extraProperties: 'sonar.cs.opencover.reportsPaths=$(Common.TestResultsDirectory)/coverage.opencover.xml'

  - task: DotNetCoreCLI@2
    displayName: 'Restore dependencies'
    inputs:
      command: 'restore'
      projects: './src'
      feedsToUse: 'select'
      vstsFeed: '404449e0-6d24-4a4e-bc3e-4634d3f54a5a'

  - task: DotNetCoreCLI@2
    displayName: 'Run build'
    inputs:
      command: 'build'
      projects: './src'
      arguments: '--no-restore --configuration $(BuildConfiguration) -p:Version=$(Build.BuildNumber)'

  - task: DotNetCoreCLI@2
    displayName: 'Run tests'
    inputs:
      command: 'test'
      projects: './src'
      arguments: '--no-build --no-restore --configuration $(BuildConfiguration) --logger trx /p:CollectCoverage=true /p:CoverletOutputFormat="cobertura%2cjson%2copencover" /p:CoverletOutput="$(Common.TestResultsDirectory)/" /p:MergeWith="$(Common.TestResultsDirectory)/coverage.json"'

  - task: NuGetCommand@2
    displayName: 'Package contents'
    inputs:
      command: 'pack'
      packagesToPack: '**/*.nuspec'
      configuration: '$(buildConfiguration)'
      versioningScheme: 'byEnvVar'
      versionEnvVar: 'Build.BuildNumber'
      buildProperties: 'version="$(Build.BuildNumber)"'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish build artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage results'
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(Common.TestResultsDirectory)/coverage.cobertura.xml'

  - task: CopyFiles@2
    displayName: 'Copy test results to test results folder'
    inputs:
      SourceFolder: '$(Agent.TempDirectory)'
      Contents: '**/*.trx'
      TargetFolder: '$(Common.TestResultsDirectory)'

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '**/**.trx'
      searchFolder: '$(Agent.TempDirectory)'
      mergeTestResults: true
      failTaskOnFailedTests: true
      buildConfiguration: '$(BuildConfiguration)'

  - task: DotNetCoreCLI@2
    displayName: 'Publish packages'
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      nuGetFeedType: 'internal'
      publishVstsFeed: '404449e0-6d24-4a4e-bc3e-4634d3f54a5a'

  - task: SonarCloudAnalyze@1
    displayName: 'SonarCloud analysis'

  - task: SonarCloudPublish@1
    displayName: 'SonarCloud publish'
    inputs:
      pollingTimeoutSec: '300'
