<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/KrylixZA/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="KrylixZA" />
            <add key="ClearTextPassword" value="55e626c568bdff3fec08ee13c30ce13c7189db1b" />
        </github>
    </packageSourceCredentials>
</configuration>